<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title> schema</title>
<link  type="text/css" rel="stylesheet" type="text/css" href="schema.css" />
</style>
</head>
<body>
<h1>List of Tables</h1>
<table class="schema">
<tr>
<th>Table Name</th>
<th>Full Name</th>
<th>Description</th>
</tr>
<tr class="even">
<td><a href="#party">party</a></td>
<td>STDM entity that represents a a person, group or group of groups</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#person">person</a></td>
<td>party as defined in STDM core model</td>
<td></td>
</tr>
<tr class="even">
<td><a href="#household">household</a></td>
<td>household like a family, a composition of many persons</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#services">services</a></td>
<td>services</td>
<td></td>
</tr>
<tr class="even">
<td><a href="#project_area">project_area</a></td>
<td>location</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#respondent">respondent</a></td>
<td>who respondent</td>
<td></td>
</tr>
<tr class="even">
<td><a href="#property">property</a></td>
<td>property</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#spatial_unit">spatial_unit</a></td>
<td>spatial_unit</td>
<td></td>
</tr>
<tr class="even">
<td><a href="#source_document">source_document</a></td>
<td>source_document</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#social_tenure">social_tenure</a></td>
<td>Social tenure relationship</td>
<td></td>
</tr>
<tr class="even">
<td><a href="#social_tenure">social_tenure</a></td>
<td>Social tenure relationship</td>
<td></td>
</tr>
</table>
<h1 id="party">STDM entity that represents a a person, group or group of groups</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_party.id" id="party.id"/>id</td>
<td>Primary Key</td>
<td>integer</td>
<td>no</td>
<td>1</td>
</tr>
<tr class="odd">
<td><a href="#full_party.address" id="party.address"/>address</td>
<td>as in P.o Box</td>
<td>character varying(80)</td>
<td>no</td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_party.contact" id="party.contact"/>contact</td>
<td>Mobile Phone Number</td>
<td>integer(25)</td>
<td>no</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_party.identity" id="party.identity"/>identity</td>
<td>Unigue Identifier</td>
<td>integer(25)</td>
<td>no</td>
<td></td>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_party.id">
<a href="#party.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_party.address">
<a href="#party.address">address</a></td>
<td class="extradef">as in P.o Box</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_party.contact">
<a href="#party.contact">contact</a></td>
<td class="extradef">Mobile Phone Number</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_party.identity">
<a href="#party.identity">identity</a></td>
<td class="extradef">Unigue Identifier</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="person">party as defined in STDM core model</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_person.id" id="person.id"/>id</td>
<td>Primary Key</td>
<td>serial</td>
<td>no</td>
<td>1</td>
</tr>
<tr class="odd">
<td><a href="#full_person.first_name" id="person.first_name"/>first_name</td>
<td>Given Name</td>
<td>character varying(80)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_person.last_name" id="person.last_name"/>last_name</td>
<td>Other Names</td>
<td>character varying(80)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_person.age" id="person.age"/>age</td>
<td>Years</td>
<td>integer(10)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_person.contact" id="person.contact"/>contact</td>
<td>Mobile Phone Number</td>
<td>integer(25)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_person.education_level" id="person.education_level"/>education_level</td>
<td>education</td>
<td>character varying(45)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_person.houshold" id="person.houshold"/>houshold</td>
<td>relationship</td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_person.work" id="person.work"/>work</td>
<td></td>
<td>character varying(60)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_person.marital_status" id="person.marital_status"/>marital_status</td>
<td>married</td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_person.birth_date" id="person.birth_date"/>birth_date</td>
<td>date</td>
<td>date(50)</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
<tr class="even">
<td class="def" id="full_person.id">
<a href="#person.id">id</a></td>
<td>party</td>
<td><a href="#party.id">id</a></td>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_person.id">
<a href="#person.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>
Foreign key to <a href="#party.">party.<a>
</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_person.first_name">
<a href="#person.first_name">first_name</a></td>
<td class="extradef">Given Name</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_person.last_name">
<a href="#person.last_name">last_name</a></td>
<td class="extradef">Other Names</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_person.age">
<a href="#person.age">age</a></td>
<td class="extradef">Years</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_person.contact">
<a href="#person.contact">contact</a></td>
<td class="extradef">Mobile Phone Number</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_person.education_level">
<a href="#person.education_level">education_level</a></td>
<td class="extradef">education</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_person.houshold">
<a href="#person.houshold">houshold</a></td>
<td class="extradef">relationship</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_person.work">
<a href="#person.work">work</a></td>
<td class="extradef"></td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_person.marital_status">
<a href="#person.marital_status">marital_status</a></td>
<td class="extradef">married</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_person.birth_date">
<a href="#person.birth_date">birth_date</a></td>
<td class="extradef">date</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="household">household like a family, a composition of many persons</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_household.id" id="household.id"/>id</td>
<td>Primary Key</td>
<td>integer</td>
<td>no</td>
<td>1</td>
</tr>
<tr class="odd">
<td><a href="#full_household.previous_resdence" id="household.previous_resdence"/>previous_resdence</td>
<td>where you stayed before</td>
<td>character varying(100)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_household.settlement_period" id="household.settlement_period"/>settlement_period</td>
<td></td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
<tr class="even">
<td class="def" id="full_household.id">
<a href="#household.id">id</a></td>
<td>party</td>
<td><a href="#party.id">id</a></td>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_household.id">
<a href="#household.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>
Foreign key to <a href="#party.">party.<a>
</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_household.previous_resdence">
<a href="#household.previous_resdence">previous_resdence</a></td>
<td class="extradef">where you stayed before</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_household.settlement_period">
<a href="#household.settlement_period">settlement_period</a></td>
<td class="extradef"></td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="services">services</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_services.name" id="services.name"/>name</td>
<td>name of service</td>
<td>character varying(45)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_services.source" id="services.source"/>source</td>
<td>source</td>
<td>character varying(10)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_services.id" id="services.id"/>id</td>
<td>unique</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_services.name">
<a href="#services.name">name</a></td>
<td class="extradef">name of service</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_services.source">
<a href="#services.source">source</a></td>
<td class="extradef">source</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_services.id">
<a href="#services.id">id</a></td>
<td class="extradef">unique</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="project_area">location</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_project_area.id" id="project_area.id"/>id</td>
<td>Primary Key</td>
<td>integer(10)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_project_area.name" id="project_area.name"/>name</td>
<td>given name</td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_project_area.location" id="project_area.location"/>location</td>
<td>where</td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_project_area.code" id="project_area.code"/>code</td>
<td>code</td>
<td>integer(10)</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_project_area.id">
<a href="#project_area.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_project_area.name">
<a href="#project_area.name">name</a></td>
<td class="extradef">given name</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_project_area.location">
<a href="#project_area.location">location</a></td>
<td class="extradef">where</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_project_area.code">
<a href="#project_area.code">code</a></td>
<td class="extradef">code</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="respondent">who respondent</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_respondent.id" id="respondent.id"/>id</td>
<td>Primary Key</td>
<td>integer</td>
<td></td>
<td>1</td>
</tr>
<tr class="odd">
<td><a href="#full_respondent.first_name" id="respondent.first_name"/>first_name</td>
<td>last_name</td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_respondent.last_name" id="respondent.last_name"/>last_name</td>
<td>Given name</td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_respondent.relationship" id="respondent.relationship"/>relationship</td>
<td>who is this person</td>
<td>character varying(40)</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
<tr class="even">
<td class="def" id="full_respondent.id">
<a href="#respondent.id">id</a></td>
<td>household</td>
<td><a href="#household.id">id</a></td>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_respondent.id">
<a href="#respondent.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>
Foreign key to <a href="#household.">household.<a>
</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_respondent.first_name">
<a href="#respondent.first_name">first_name</a></td>
<td class="extradef">last_name</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_respondent.last_name">
<a href="#respondent.last_name">last_name</a></td>
<td class="extradef">Given name</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_respondent.relationship">
<a href="#respondent.relationship">relationship</a></td>
<td class="extradef">who is this person</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="property">property</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_property.id" id="property.id"/>id</td>
<td>unique id</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_property.name" id="property.name"/>name</td>
<td>property name</td>
<td>character varying(30)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_property.value" id="property.value"/>value</td>
<td>value</td>
<td>character varying(10)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_property.tax" id="property.tax"/>tax</td>
<td>ltax amount</td>
<td>real</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
<tr class="even">
<td class="def" id="full_property.id">
<a href="#property.id">id</a></td>
<td>spatial_unit</td>
<td><a href="#spatial_unit.id">id</a></td>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_property.id">
<a href="#property.id">id</a></td>
<td class="extradef">unique id</td>
</tr>
<tr>
<td>
Foreign key to <a href="#spatial_unit.">spatial_unit.<a>
</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_property.name">
<a href="#property.name">name</a></td>
<td class="extradef">property name</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_property.value">
<a href="#property.value">value</a></td>
<td class="extradef">value</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_property.tax">
<a href="#property.tax">tax</a></td>
<td class="extradef">ltax amount</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="spatial_unit">spatial_unit</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_spatial_unit.id" id="spatial_unit.id"/>id</td>
<td>Primary Key</td>
<td>integer</td>
<td></td>
<td>1</td>
</tr>
<tr class="odd">
<td><a href="#full_spatial_unit.unit_name" id="spatial_unit.unit_name"/>unit_name</td>
<td>name of the spatial unit</td>
<td>character varying(25)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_spatial_unit.use_of_the_unit" id="spatial_unit.use_of_the_unit"/>use_of_the_unit</td>
<td>use type</td>
<td>character varying(25)</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_spatial_unit.registration_date" id="spatial_unit.registration_date"/>registration_date</td>
<td>when registered</td>
<td>date</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_spatial_unit.id">
<a href="#spatial_unit.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_spatial_unit.unit_name">
<a href="#spatial_unit.unit_name">unit_name</a></td>
<td class="extradef">name of the spatial unit</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_spatial_unit.use_of_the_unit">
<a href="#spatial_unit.use_of_the_unit">use_of_the_unit</a></td>
<td class="extradef">use type</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_spatial_unit.registration_date">
<a href="#spatial_unit.registration_date">registration_date</a></td>
<td class="extradef">when registered</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="source_document">source_document</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_source_document.id" id="source_document.id"/>id</td>
<td>Primary Key</td>
<td>integer</td>
<td></td>
<td>1</td>
</tr>
<tr class="odd">
<td><a href="#full_source_document.type" id="source_document.type"/>type</td>
<td>type of doc</td>
<td>character varying(25)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_source_document.person_id" id="source_document.person_id"/>person_id</td>
<td>person related</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_source_document.household_id" id="source_document.household_id"/>household_id</td>
<td>related household</td>
<td>integer</td>
<td></td>
<td>1</td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_source_document.id">
<a href="#source_document.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_source_document.type">
<a href="#source_document.type">type</a></td>
<td class="extradef">type of doc</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_source_document.person_id">
<a href="#source_document.person_id">person_id</a></td>
<td class="extradef">person related</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_source_document.household_id">
<a href="#source_document.household_id">household_id</a></td>
<td class="extradef">related household</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="social_tenure">Social tenure relationship</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_social_tenure.id" id="social_tenure.id"/>id</td>
<td>Primary Key</td>
<td>integer</td>
<td></td>
<td>1</td>
</tr>
<tr class="odd">
<td><a href="#full_social_tenure.social_tenure_type" id="social_tenure.social_tenure_type"/>social_tenure_type</td>
<td>str type</td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_social_tenure.person_id" id="social_tenure.person_id"/>person_id</td>
<td>person related</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_social_tenure.spatial_unit_id" id="social_tenure.spatial_unit_id"/>spatial_unit_id</td>
<td>spatial_unit</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_social_tenure.group_id" id="social_tenure.group_id"/>group_id</td>
<td>related group</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_social_tenure.share" id="social_tenure.share"/>share</td>
<td>share</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_social_tenure.id">
<a href="#social_tenure.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_social_tenure.social_tenure_type">
<a href="#social_tenure.social_tenure_type">social_tenure_type</a></td>
<td class="extradef">str type</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_social_tenure.person_id">
<a href="#social_tenure.person_id">person_id</a></td>
<td class="extradef">person related</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_social_tenure.spatial_unit_id">
<a href="#social_tenure.spatial_unit_id">spatial_unit_id</a></td>
<td class="extradef">spatial_unit</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_social_tenure.group_id">
<a href="#social_tenure.group_id">group_id</a></td>
<td class="extradef">related group</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_social_tenure.share">
<a href="#social_tenure.share">share</a></td>
<td class="extradef">share</td>
</tr>
<tr>
<td>

</td></tr>
</table>
<h1 id="social_tenure">Social tenure relationship</h1>
<div></div>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Full Name</th>
<th>Data Type</th>
<th>Null</th>
<th>Key</th>
</tr>
<tr class="even">
<td><a href="#full_social_tenure.id" id="social_tenure.id"/>id</td>
<td>Primary Key</td>
<td>integer</td>
<td></td>
<td>1</td>
</tr>
<tr class="odd">
<td><a href="#full_social_tenure.social_tenure_type" id="social_tenure.social_tenure_type"/>social_tenure_type</td>
<td>str type</td>
<td>character varying(50)</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_social_tenure.person_id" id="social_tenure.person_id"/>person_id</td>
<td>person related</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_social_tenure.spatial_unit_id" id="social_tenure.spatial_unit_id"/>spatial_unit_id</td>
<td>spatial_unit</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="#full_social_tenure.group_id" id="social_tenure.group_id"/>group_id</td>
<td>related group</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="#full_social_tenure.share" id="social_tenure.share"/>share</td>
<td>share</td>
<td>integer</td>
<td></td>
<td></td>
</tr>
</table>
<h3>Relations</h3>
<table class="schema">
<tr>
<th>Column Name</th>
<th>Related Table</th>
<th>Related Column</th>
</tr>
</table>
<h3>Column Definitions</h3>
<table class="schema">
<tr>
<th>Column name</th>
<th>Information</th>
</tr>
<tr class="even">
<td class="def" rowspan="2" id="full_social_tenure.id">
<a href="#social_tenure.id">id</a></td>
<td class="extradef">Primary Key</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_social_tenure.social_tenure_type">
<a href="#social_tenure.social_tenure_type">social_tenure_type</a></td>
<td class="extradef">str type</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_social_tenure.person_id">
<a href="#social_tenure.person_id">person_id</a></td>
<td class="extradef">person related</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_social_tenure.spatial_unit_id">
<a href="#social_tenure.spatial_unit_id">spatial_unit_id</a></td>
<td class="extradef">spatial_unit</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="even">
<td class="def" rowspan="2" id="full_social_tenure.group_id">
<a href="#social_tenure.group_id">group_id</a></td>
<td class="extradef">related group</td>
</tr>
<tr>
<td>

</td></tr>
<tr class="odd">
<td class="def" rowspan="2" id="full_social_tenure.share">
<a href="#social_tenure.share">share</a></td>
<td class="extradef">share</td>
</tr>
<tr>
<td>

</td></tr>
</table>
</body>
</html>
