body {
      background-color:#ffffff;
}
.clear {
        border:0;
        clear:both;
        margin:0;
        padding:0;
}
#topic_header {
               padding:10px;
               background:#fff url("../header-bg.png")  repeat-x left top;
               border-bottom:1px solid #ccc;
               margin-bottom:15px;
}
#topic_footer {
               padding:10px;
               background:#fff url("../footer-bg.png")  repeat-x left top;
               margin-top:20px;
               font-size:11px;
}
#topic_content {
                margin:10px;
}
#topic_header #topic_header_content {
                                     float:left;
}
#topic_header #topic_header_nav {
                                 float:right;
}
#topic_header #topic_header_nav img {
                                     margin-left:5px;
}
#topic_header a {
                 color:#333;
                 text-decoration:none;
}
#topic_footer a {
                 color:#333;
                 text-decoration:none;
}
#topic_header a:hover {
                       text-decoration:underline;
}
#topic_footer a:hover {
                       text-decoration:underline;
}
#topic_header h1 {
                  color:#333;
                  font-size:18px;
}
#topic_breadcrumb {
                   font-size:11px;
}
p {
   margin-bottom:14pt;
   margin-left:0pt;
   margin-right:0pt;
   font-family:Cambria;
   font-size:11pt;
   margin-top:9.5pt;
}
